<main id="main">
  <div class="clm">
    <div class="form">
      <div class="header">
        <h1>Создание организации</h1>
      </div>
      <div class="body">
        <form id="form" method="post">
        <input type="text" class="inp" id="inp" name="name" placeholder="Название организации">
        <input type="submit"  class="sub" value="Создать">
        </form>
      </div>
      <div class="footer">
        <div class="info">
          <p>Нажимая кнопку Создать, вы принимаете <a href="privacy">политику нашего сайта.</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
