<main id="main">
  <div class="clm">
    <div class="form">
      <div class="linkBack">
        <a href="teacher"><i class="fas fa-arrow-left-long"></i></a>
      </div>
      <h1>Создание класса</h1>
    <form method="post" id="form" enctype="multipart/form-data">
      <div>
        <div>
          <label>Название класса: </label>
          <input type="text" name="name" id="name">
        </div>
        <div class="error" id="nameError"></div>
      </div>
      <div>
        <div>
        <label>Организация:</label>
        <input type="text" readonly name="organization" value="<?= $this->getUser()['organization_name']; ?>">
        </div>
      </div>
      <div>
        <div>
        <label>Описание класса:</label>
        <textarea name="describe" id="describe"></textarea>
        </div>
        <div class="error" id="describeError"></div>
      </div>
     <div>
       <div>
      <label>Изображение:</label>
      <div class="input_wrapper">
        <input type='hidden' name='MAX_FILE_SIZE' value='5000000'>
         <input type="file"  name="img" accept="image/png,image/jpg,image/jpeg,image/gif" id="input_file" class="input input_file">
         <label for="input_file" class="input_file-button" id="inp_file_block">
            <span class="input_file-icon-wrapper"><img class="input_file-icon" src="./assets/img/add.svg" alt="Выбрать файл" width="25"></span>
            <span class="input_file-button-text">Выберите файл</span>
         </label>
      </div>
      </div>
      <div class="error" id="imgError"></div>
      </div>
      <div>
        <div>
        <label>Разрешение добавлять записи всем пользователям</label>
        <input type="checkbox" name="allow">
        </div>
      </div>
      <div>
        <input type="submit" value="Создать">
      </div>
    </form>
    </div>
  </div>
</main>
