<main id="main">
      <div class="clm">
        <div class="list-friends">
          <div class="header">
            <ul>
              <li><a href="requests">Новые <span><?= $totalRequests; ?></span></a></li>
              <li><a href="" class="active">Мои Заявки <span id="num"><?= $totalMyRequests; ?><span></a></li>
            </ul>
            <a href="friend-search">Найти друзей</a>
          </div>
          <div class="form" id="form-friend">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="search" maxlength="36" id="search" name="search-friend" placeholder="Поиск" class="input">
          </div>
          <div class="body" id="list">
          </div>
        </div>
    </div>
    <div class="clm list-aside">
      <ul>
        <li><a href="friends">Мои друзья</a></li>
        <li><span>Заявки в друзья</span></li>
        <li><a href="friend-search">Поиск друзей</a></li>
      </ul>
    </div>
    </main>
    <script>
          		let total = <?= $totalMyRequests; ?>;
        </script>
