<main id="main" id="main">
      <div class="clm">
        <div class="linkNav">
      <ul>
        <li><button type="button" class="active" id="btn1">Политика конфиденциальности</button> </li>
        <li><button type="button" id="btn2">Политика сайта</button> </li>
      </ul>
      </div>
      <div id="block1" class="active">
      <h4><strong>Политика в отношении обработки персональных данных</strong></h4>
      <ol>
      <li><h2>1. Общие положения</h2>
        <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые <mark>MKStudio</mark> (далее – Оператор).</p>

        <ul>
          <li>1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
          <li>1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="./"><?= FULL_SITE_ROOT; ?></a>.</li>
        </ul>
      </li>
      <li> <h2>2. Основные понятия, используемые в Политике</h2>
        <ul>
          <li>2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;</li>
          <li>2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</li>
          <li>2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="./"><?= FULL_SITE_ROOT; ?></a>;</li>
          <li>2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;</li>
          <li>2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;</li>
          <li>2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</li>
          <li>2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</li>
          <li>2.8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта <a href="./"><?= FULL_SITE_ROOT; ?></a>;</li>
          <li>2.9. Пользователь – любой посетитель веб-сайта <a href="./"><?= FULL_SITE_ROOT; ?></a>;</li>
          <li>2.10. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;</li>
          <li>2.11. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;</li>
          <li>2.12. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;</li>
          <li>2.13. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.</li>
        </ul>

      </li>

      <li> <h2>3. Оператор может обрабатывать следующие персональные данные Пользователя</h2>
        <ul>
          <li>3.1. <mark>Электронный адрес</mark>;</li>
          <li>3.2. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</li>
          <li>3.3. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
      </li>
        </ul>
      </li>

      <li> <h2>4. Цели обработки персональных данных</h2>
        <ul>
          <li>4.1. Цель обработки персональных данных Пользователя — <mark>информирование Пользователя посредством отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте</mark>.</li>
          <li>4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты <a href="mailto: <?=ADMIN_EMAIL;?>"><?=ADMIN_EMAIL;?></a> с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».
      </li>
          <li>4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
      </li>
        </ul>
      </li>
      <li> <h2>5. Правовые основания обработки персональных данных</h2>
        <ul>
          <li>5.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a href="./"><?= $domen; ?></a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.</li>
          <li>5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
      </li>
        </ul>
      </li>
      <li> <h2>6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h2>
        <p>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p>
        <ul>
        <li>6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</li>
        <li>6.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
      </li>
        <li>6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a href="mailto: <?=ADMIN_EMAIL;?>"><?=ADMIN_EMAIL;?></a> с пометкой «Актуализация персональных данных».
      </li>
        <li>6.4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора <a href="mailto: <?=ADMIN_EMAIL;?>"><?=ADMIN_EMAIL;?></a> с пометкой «Отзыв согласия на обработку персональных данных».
      </li>
      </ul>
      </li>
      <li> <h2>7. Трансграничная передача персональных данных</h2>
        <ul>
          <li>7.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.</li>
          <li>7.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
      </li>
        </ul>
      </li>
      <li> <h2>8. Заключительные положения</h2>
        <ul>
        <li>8.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты <a href="mailto: <?=ADMIN_EMAIL;?>"><?=ADMIN_EMAIL;?></a></li>
        <li>8.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.
      </li>
        <li>8.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу <a href="./"><?= FULL_SITE_ROOT; ?></a>.
      </li>
      </ul>
      </li>
      </ol>
      <span class="date">30.04.2021</span>
      </div>
      <div id="block2">
      <h4><strong>Правила сайта</strong></h4>
      <ol>
      <li> <h2>1. На сайте <a href="./"><?= FULL_SITE_ROOT; ?></a> запрещается:</h2>
        <ul>
          <li>1.1 Любая деятельность, незаконная на территории <mark>РФ</mark></li>
          <li>1.2 Употребление нецензурной и ненормативной лексики в любом её виде, вне зависимости от языка. Равно как и любые провокации или спекуляции вокруг завуалированности таких слов. А также нецензурные или ненормативные имена (ники) пользователей. Также запрещена обсценная лексика.</li>
          <li>1.3 Любая реклама, равно как и упоминания алкогольной продукции, сигарет, проституции, БАДов и лекарственных препаратов. Обсуждение или побуждение к покупке или потреблению всего вышеперечисленного.</li>
          <li>1.4 Прямые, косвенные или завуалированные оскорбления других пользователей портала. Угрозы личной расправой или другими деструктивными действиями, которые могут привести к конфликту. Провокации в любом их виде и на любую тему, а также хамское и неуважительное отношение к остальным пользователям портала. Равно как и оскорбления посредством изменения имени пользователя.</li>
          <li>1.5 Умышленное засорение разделов сайта бесполезными, неинформативными сообщениями, сообщениями, состоящими из беспорядочно повторяющихся символов, а также многократная отправка идентичных сообщений</li>
          <li>Активность по искусственному увеличению показателей профиля. Деятельность, связанная с накруткой каких-либо показателей.</li>
          <li>1.6 Создание дополнительных аккаунтов. На одного человека должен приходиться только один аккаунт.</li>
          <li>1.7 Троллинг в любом его виде.</li>
        </ul>
      </li>
      <li> <h2>2. Примечание</h2>
        <ul>
          <li>2.1 <mark>Администрация dvolk.ru</mark> оставляет за собой право не вступать в переписку с пользователями по вопросам наказаний за нарушение данных правил. Санкции накладываются без предварительного предупреждения и дальнейшему обжалованию не подлежат.</li>
          <li>2.2 Данный список правил может быть дополнен или изменен в любое время без предварительного уведомления.</li>
          <li>2.3 За нарушение данных правил пользователь будет удалён или заблокирован, почта пользоватлея будет добавлена в <mark>чёрный список</mark> сайта, по которой уже никогда нельзя будет зарегистроваться.</li>
          <li>2.4 Незнание данных правил не освобождает вас от ответственности за их нарушение.</li>
        </ul>
      </li>
      <li> <h2>3. Авторские права</h2>
        <ul>
        <li>3.1 Контент, размещенный пользователем, может быть удален администрацией сайта в любой момент без предварительного уведомления пользователя по просьбе третьих лиц, правообладателей или иным причинам. <mark>Администрация сайта</mark> не несет никакой ответственности перед пользователем за подобные действия.</li>
      </ul>
      </li>
      </ol>
      <span class="date">30.04.2021</span>
      </div>
      </div>

    </main>
