<main id="main">
        <div class="clm">
          <div class="linkBack">
            <a href="../tests"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
          </div>

          <div class="main_testview">
            <div class="view_img">
              <? if (is_null($view['test_img']) || $view['test_img'] == ""): ?>
                <img src="../assets/img/testImg.png">
              <? else: ?>
                <img src="../assets/img/testImg.png">
              <?php endif; ?>
            </div>
            <div>
              <div class="view_info">
                <div>
                  <h3><?= $view['test_name']; ?></h3>
                </div>
                <div class="test-info">
                <div>
                  <span id="btn_test_menu" class="active">Основная информация <i  class="fa fa-chevron-right"></i></span>
                  <ul id="block_test" class="active">
                    <li><span>Предмет:</span><span><?= $view['subject_name']; ?></span></li>
                    <li><span>Код теста:</span><span><?= $view['test_code']; ?></span></li>
                    <li><span>Метод оценивания:</span><span><?= $view['method_name']; ?></span></li>
                    <li><span>Автор теста:</span><span><?= $view['user_name'] . ' ' . $view['user_surname']; ?></span></li>
                    <li><span>Кол-во вопросов:</span><span><?= $view['test_cnt']; ?></span></li>
                    <? if ($view['test_attempts'] == '0'): ?>
                    <li><span>Кол-во возможных попыток:</span><span>неограниченно</span></li>
                    <? else: ?>
                    <li><span>Кол-во возможных попыток:</span><span><?= $view['test_attempts']; ?></span></li>
                    <? endif; ?>
                    <? if ($test_time == '00:00:00'): ?>
                    <li><span>Время на решение теста:</span><span>неограниченно</span></li>
                    <? else: ?>
                    <li><span>Время на решение теста:</span><span><?= $test_time; ?></span></li>
                    <? endif; ?>
                    <li><span>Кол-во моих попыток:</span><span><?= $numAtt; ?></span></li>
                    <? if ($this->testModel->checkIfPutLike($id_view)): ?>
                      <li><span>Поставить лайк: </span><span class="like_block"><span class="like" onclick="putLike('<?= $id_view ?>')"><i id="like_icon" class="fa fa-thumbs-up active"></i></span><span id="num_likes"><?= $view['test_likes']; ?></span></span></li>
                    <? else: ?>
                      <li><span>Поставить лайк: </span><span class="like_block"><span class="like" onclick="putLike('<?= $id_view ?>')"><i id="like_icon" class="fa fa-thumbs-up"></i></span><span id="num_likes"><?= $view['test_likes']; ?></span></span></li>
                    <? endif; ?>
                  </ul>
                </div>
              </div>
              </div>

              <div class="my_info">
                  <span>Текущая оценка за тест: </span><span class="mark"><?= $markText; ?></span>
              </div>
            </div>
          </div>
          <? if ($view['test_attempts'] == 0 || $numAtt < $view['test_attempts']): ?>
          <a href="../test/<?= $view['test_id']; ?>">Решить тест</a>
        <? else: ?>
        <span style='display: block; text-align: center; color: red; margin-bottom: 20px;'>У вас закончились попытки</span>
          <?php endif; ?>
      </div>
      <div class="clm list-aside">
        <ul>
          <li><a href="../tests">Все  тесты</a></li>
        </ul>
      </div>
    </main>
