.clm{
  margin-left: 80px;
}
main > div:nth-child(1) {
    width: 70%;
    display: flex;
    flex-direction: column;
}
main > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.info{

}
.group-img{
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #00000020;
  padding-bottom: 20px;
}
.info {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #00000020;
}
main {
    margin-top: 60px;
    display: flex;
}
.group-img img{
  width: 200px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 15px;
  object-fit: contain;
}
.group-img > div:hover img{
  filter: brightness(.9);
  transition: all .5s ease;
}
.action-friend{
  text-align: center;
  background: #e5ebf1;
  width: 100%;
  display: block;
  padding: .5rem 0;
  color: #55677d;
  text-decoration: none;
  font-size: 12.5px;
  border-radius: .25rem;
  transition: all 0.3s ease;
  border: none;
}
.action-friend:hover{
  background: #dae2ea;
  color: #434343;
}
.action-friend.add{
    background: var(--btn);
    color: #fff;
}
.info > span{
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.add-info .dob{
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}
.add-info div span:nth-child(1){
  width: 40%;
  color: #818c99;
  padding-left: 10px;
  display: block;
}
.add-info div span:nth-child(2){
  color: #434343;
  display:  block;
}
.add-info button{
  text-decoration: none;
  text-align: center;
  color: #2a5885;
  display: block;
  transition: all 0.3s ease;
  padding: 10px 0;
  width: 100%;
  margin-top: 12px;
  border-radius: 4px;
  background: #fff;
  outline: none;
  border: none;
}
.add-info button:hover{
  text-decoration: underline;
  background: #f0f2f5;
}
.group-info ul{
  padding: 0;
  list-style: none;
}
.group-info ul li{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#group-info{
  display: none;
}
#group-info.active{
  display: block;
}
.records {
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
}
.no-participant{
  text-align: center;
}
.add-record{
  display: block;
  height: 100px;
  display: flex;
margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: var(--btn);
  color: #fff;
}
.add-record:hover{
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
}
.no-records{
  text-align: center;
}
.record_block{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  box-shadow: 1px 2px 12px 0 rgb(53 0 132 / 12%);
  background: #fff;
}
.list .type{
  background: #b04fff;
  padding: 2px;
  color: #f4ffee;
  margin-top: 5px;
}
.text p{
  font-size: 18px;
  padding: 10px;
  word-break: break-word;
}
.title_list{
  display: block;
  width: 60%;
  margin: 20px auto;
}
.img_block img{
  display: block;
  width: 95%;
  margin: 10px auto;
}
.record_footer{
  display: flex;
  justify-content: space-between;
}
.record_footer > div:first-child i{
  font-size: 22px;
  color: #ccc;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.record_footer > div:first-child i:hover{
  transform: scale(1.1);
}
.record_footer > div:first-child i.active{
  color: red;
}
.record_footer > div:first-child span{
  font-size: 20px;
}
.record_footer > div:last-child span:first-child{
  margin-right: 10px;
}
.comments{
  border-top: 1px solid #eee;
  margin-top: 15px;
}
.form_comments{
  border-top: 1px solid #eee;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_comments input{
  border-radius: 0;
  padding: .65rem 1rem;
}
.body_comments > div{
  display: flex;
  align-items: center;
  margin: 10px 2px;
  border-top: 1px solid #eee;
}
.body_comments > div:first-child{
  border-top: 0;
}
.body_comments div > a img{
  border-radius: 50%;
  width: 34px;
  height: 34px;
  object-fit: contain;
  background: #fff;
  border: 1px solid #ccc;
}
.body_comments div > div{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.body_comments div > div p{
  padding: 0;
  margin: 2px 0;
  word-break: break-word;
}
.body_comments div > div span{
  font-size: 12px;
}
