body{
  padding-bottom: 10px;
}
main{
  margin-top: 60px;
  display: flex;
  transition: all 0.5s ease;
  align-items: start;
}
.clm{
  margin-left: 60px;
  position: relative;
  margin-top: 20px;
}
main > div:nth-child(1){
  width: 95%;
  overflow-x: scroll;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #00000020;
}
main .total{
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 1px 2px 12px 0 rgb(53 0 132 / 12%);
  border-radius: 8px;
}
main .total h3{
  margin: 0;
  margin-bottom: 16px;
  color: #343434;
  font-size: 30px;
  text-transform: uppercase;
}
main .total div {
    margin: 15px 0;
}
main table{
  width: 50%;
  margin: 0 auto;
  border-spacing: 0 10px;
  font-family: sans-serif;
  font-weight: bold;
}
main th {
padding: 10px 20px;
background: #56433D;
color: #F9C941;
border-right: 2px solid;
font-size: 0.9em;
}
main th:first-child {
text-align: left;
}
main td {
vertical-align: middle;
padding: 10px;
font-size: 14px;
text-align: center;
border-top: 2px solid #56433D;
border-bottom: 2px solid #56433D;
border-right: 2px solid #56433D;
}
main td:first-child {
border-left: 2px solid #56433D;
text-align:  center;
}
main td:first-child {
text-align: left;
}
main td span{
  border-radius: 30px;
  background: #56433D;
  color: #F9C941;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main fieldset{
  width: 95%;
  margin: 10px auto;
}
.five{
  color: green;
}
.four{
  color: lightgreen;
}
.three{
  color: #F9C941;
}
.two{
  color: red;
}
#total{
  font-weight: bold;
  font-size: 24px;
}
@media (max-width: 1020px) {
  main > div:nth-child(1) {
    width: 95%;
    margin: 0 auto !important;
  }
  main > div:nth-child(2) {
    position: static;
    width: 95%;
    margin: 10px auto !important;
    margin-bottom: 10px;
  }
  main .total{
    width: 95%;
  }
  main table{
    width: 95%;
  }
}
