body{
  padding-bottom: 10px;
}
main{
  margin-top: 60px;
  display: flex;
  transition: all 0.5s ease;
  align-items: start;
}
.clm{
  margin-left: 60px;
  position: relative;
}
main > div:nth-child(1) {
    width: 78%;
    border-radius: 20px 20px 0 0;
    overflow-x: scroll;
}
main > div{
  background: #fff;
  border-radius: 4px;
  border: 1px solid #00000020;
}
main > div:nth-child(2){
  width: 13%;
  position: fixed;
  right: 1%;
}
.block{
  width: 100%;
  display: none;
}
.block.active{
  display: block;
}
.block > div:nth-child(2){
  padding: 20px;
}
.header{
  border-bottom: 1px solid #e0e4e9;
  background: var(--hover_bg);
  border-radius: 4px 4px 0 0;
  padding: 20px;
  font-size: 16px;
}


.checkbox {
  margin: 20px 0;
}
.checkbox .checkbox-label {
  position: relative;
  display: block;
  height: 15px;
  width: 37px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 300ms ease;
}
.checkbox .checkbox-label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #d6d6d6;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 300ms ease;
}
.checkbox .checkbox-label:active:after {
  transform: scale(1.15, 0.85);
}
.checkbox .checkbox-input {
  display: none;
}
.checkbox .checkbox-input:checked ~ label {
  background: var(--btn);
}
.checkbox .checkbox-input:checked ~ label:after {
  left: 20px;
  background: var(--btn);
}

.block table{
  width: 100%;
  border-collapse: collapse;
}
.block table td{
  padding: .5rem 1rem;
}
.block table tr{
  border-bottom: 1px solid #eee;
}
.block table tr:last-child{
  border-bottom: none;
  padding-top: 15px;
}
.block table tr:last-child td{
  padding-top: 30px;
}
.block table tr td button{
  background: var(--btn);
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: all 0.3s ease;
}
.block table tr td button:hover{
  opacity: .8;
}
.input_wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input_file {
  opacity: 0;
  visibility: hidden;
}

.input_file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.input_file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input_file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: var(--btn);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.btn-delete{
  text-decoration: none;
  color: #fff;
  padding: .5rem 1rem;
  background: #e54a4a;
  border-radius: 4px;
  margin-right: 20px;
  border: none;
  float: right;
  transition: all 0.3s ease;
}
.btn-delete:hover{
  background: red;
  text-decoration: none;
  color: #fff;
}

#inp_file_block.choosen{
  background: #ccc;
}
#change_img{
  padding: 7px 10px;
  border-radius: .25rem;
  margin: 15px;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #434343;
  display: inline-block;
  background-color: #edeef0;
  border-color: #0f888f;
  float: right;
}
#change_img:focus {
    background-color: #0d7278;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgb(15 136 143 / 25%);
    border-color: #0d7278;
}
.error {
    font-size: 14px;
    color: red;
    line-height: 16px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 0 rgb(255 255 255);
}
.form {
    display: flex;
    align-items: center;
    border: 1px solid #00000020;
    border-radius: 4px;
    width: 80%;
    margin: 10px auto;
}
.textBlock {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 26px;
    width: 100%;
}
.textBlock i {
    color: gray;
}
.textBlock .input {
    background: #fff;
    outline: none;
    width: 100%;
    padding-left: 10px;
    border: none;
}
.empty{
  text-align: center;
  margin-top: 20px;
  color: red;
}
.my-organization{
  padding: .5rem 1rem;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.table-list table{
  border-collapse: collapse;
  width: 80%;
  margin: 10px auto;
}
.table-list table th, .table-list table td{
  border: 1px solid #9f9f9f;
    padding: 10px;
    text-align: center;
}
.exit-org{
  text-align: center;
  border: 1px solid red;
  margin: 15px auto;
  display: block;
  width: 220px;
  padding: .5rem 1rem;
  color: #434343;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
}
.exit-org:hover{
  background: #eee;
}
.list-aside ul li button, .list-aside ul li span, .list-aside ul li a {
    width: 100%;
  }
@media (max-width: 1020px) {
  main{
    flex-direction: column-reverse;
  }
  main > div:nth-child(1) {
    width: 95%;
    margin: 0 auto !important;
  }
  main > div:nth-child(2) {
    position: static;
    width: 95%;
    margin: 10px auto !important;
    margin-bottom: 10px;
  }
  .list-aside ul li button, .list-aside ul li span {
    width: 100%;
  }
  #setting_img table tr {
    display: flex;
    flex-direction: column;
}
.my-organization span:first-child{
  margin-right: 20px;
}
.form {
  width: 95%;
}
.table-list table {
    width: 95%;
  }
}
