body{
  padding-bottom: 10px;
  min-height: auto;
}
main{
  margin-top: 60px;
  display: flex;
  transition: all 0.5s ease;
  align-items: start;
}
.clm{
  margin-left: 60px;
  position: relative;
}
main > div:nth-child(1){
  width: 78%;
  border-radius: 20px 20px 0 0;
  overflow-x: scroll;
}
main > div{
  background: #fff;
  border-radius: 4px;
  border: 1px solid #00000020;
}
main > div:nth-child(2){
  width: 13%;
  position: fixed;
  right: 1%;
}
.header{
  border-bottom: 1px solid #dce1e6;
  background: var(--hover_bg);
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul{
  list-style: none;
  display: flex;
  padding-left: 0;
  align-items: center;
  margin: 0;
}
.header ul li span{
  padding: 18px 6px 20px;
  color: #939393;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid transparent;
  margin: 0 4px -1px;
  font-size: 14px;
  cursor: pointer;
}
.header ul li span.active{
  border-color: var(--btn);
  color:  #000000;
}
.header ul li span span{
  color: #939393;
}
.header ul li{
  margin-left: 10px;
}
.form{
  border-bottom: 1px solid #00000020;
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 26px;
  position: sticky;
}
.form i {
    color: gray;
}
.form input{
  background: #fff;
  outline: none;
  width: 100%;
  padding-left: 10px;
  border: none;
}
#form-test.sticky{
  background: #fff;
  position:  fixed;
  top: 54px;
  width: 40%;
  border: 1px solid #00000020;
  border-radius:  20px;
  z-index: 1000;
}
.body{
  margin-top: 12px;
}

.no-test{
  text-align: center;
  display: block !important;
  width: 100%;
}
.no-test > a{
  display: block;
  width: 350px;
  margin: 10px auto;
  text-decoration: none;
  color: #fff;
  padding: .5rem 1rem;
  background: var(--btn);
  border-radius: 4px;
}
.empty{
  display: block !important;
  text-align: center;
}


main #list{
  display: grid;
  margin: 25px 50px;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  clear: both;
}
main #list > div{
  width: 324px;
  box-shadow: 1px 2px 12px 0 rgba(53,0,132,.12);
  margin: 30px;
  word-break: break-word;
  border-radius: 16px;
}
main #list > div:hover{
  box-shadow: 1px 2px 12px 0 rgb(40 60 167 / 50%);
  transition: all 0.4s ease;
}
main #list > div .block-link{
  display: block;
  text-decoration: none;
  padding: 16px;
}
main #list > div .block-link-author{
  padding: 8px;
  border-radius: 0 0 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #list .sett{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #678889;
  text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
}
main #list .sett > span{
  display: flex;
  margin-left: 10px !important;
}
main #list .sett > span b{
  margin-left: 5px;
}
main #list > div .block-link-author a{
  color: #6c7bdf;
  margin-left: 10px;
  text-decoration: none;
}
main #list > div .block-link-author > div:last-child i{
  font-size: 20px;
}
#list > div .block-link-author a:hover{
  color: #0056b3;
  text-decoration: underline;
  transition: all .3s ease;
}
main #list > div .block-link  .block{
  display: flex;
  justify-content: space-between;
}
main #list > div .block-link h4{
  color: #222;
  font-size: 16px;
  font-weight: 600;
  margin-right: 6px;
}
main #list > div .block-link img{
  border-radius: 4px;
  width: 72px;
  height: 72px;
}
main #list > div .block span{
  display: block;
  font-size: 12px;
  color: #678889;
  margin-top: 10px;
  text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
}
main #list > div .block-link .free{
 color: #28a745;
 font-weight: bold;
}
main #list > div .block-link .to{
  float: right;
    display: flex;
  color: #00a8ff;
}
main #list > div:hover .to {
  text-decoration: underline;
  color: #058dd3;
}
main #list > div .block-link .to i{
  padding-left: 5px;
  color: #00a8ff;
}
main #list > div:hover .to i{
  color: #058dd3;
}
main #list > div .block-link > div{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
main #list > div .block-link i{
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  margin: 0;
  color: #678889;
  text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
}
.fas.fa-star{
  color: var(--main);
}
.header > span {
    text-decoration: none;
    color: #2a5885;
    padding: .5rem 1rem;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
}
.header > span:hover {
  text-decoration: underline;
}
main > div:nth-child(3) {
    width: 13%;
    position: fixed;
    right: 1%;
    top: 180px;
    /*bottom: 10px;*/
    overflow: hidden;
}
main > div:nth-child(3).active {
  bottom: 10px;
}
.header-setting{
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
  border-bottom: 1px solid #dce1e6;
  background: #fafbfc;
}
.header-setting.active i::before{
  content: "\f107";
}
.header-setting:hover{
  background: #eee;
}
.body-setting{
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 30px;
  display: none;
}
.body-setting.active{
  display: block;
}
.body-setting > div{
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
}
.body-setting > div > span{
  margin: 6px 0 0 0;
  padding: 0 0 13px;
  font-weight: 700;
  color: #626d7a;
}
.labelRad{
  padding: 5px;
}
.labelRad > span{
  padding-left: 5px;
}
#clearFilter{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
#clearFilter.active{
  display: flex;
}
#clearFilter span{
  display: block;
  padding: .5rem 1rem;
  color: #434343;
  user-select: none;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  border-radius: 30px;
}
#clearFilter span:hover{
  background: #eee;
}
.body-setting select{
  background-color: #fff;
  border: 1px solid #ccd0d5;
  font-weight: normal;
  padding: 11px;
  position: relative;
  width: 100%;
}
#code-block{
  display: none;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}
#code-block.active{
  display: flex;
}
#code {
    display: block;
    width: 80%;
    padding: .375rem .75rem;
    font-size: 0.93rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    transition: all 0.4s ease;
}
#codeBtn {
    width: 32px;
    margin-left: 7px;
    text-align: center;
    border: 2px solid #ccc;
    padding: 7px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 20px;
}
.fa.active::before{
  content: "\f005";
  color: gold;
}
@media (max-width: 800px) {
  main{
    flex-direction: column-reverse;
  }
  main > div:nth-child(1) {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  main > div:nth-child(2) {
    position: static;
    width: 100%;
    margin-bottom: 10px;
  }
  #form-friend.sticky {
    width: 80%;
    left: 5px;
  }
  .body > div {
    padding-left: 5px;
  }
  main > div:nth-child(3) {
    display: none;
  }
  #search_width{
    display: none;
  }
  main #list{
    display: block;
    margin: 20px auto;
  }
  main #list > div {
    width: 80%;
  }
  #form-test.sticky{
    width: 80%;
    left: 5px;
  }
  .header ul li span{
    text-align: center;
  }
  #btn2{
    display: none;
  }
}
