<header id="header">
    <div>
      <div>
      <div class="logo">
        <a href="<?=FULL_SITE_ROOT;?>">
        <img src="<?= IMG; ?>/logo.png" width="30" height="30" alt="">
        <b><?=SERVER_NAME?></b>
      </a>
      </div>
      <form method="post" action="<?= FULL_SITE_ROOT; ?>/search">
        <div class="form-group">
          <input type="text" class="text_search" name="search" placeholder="Поиск">
          <button type="submit" class="submit_search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    <? if (isset($this->user)): ?>
    <div>
      <div id="account" onclick="openAccountMenu()" class="account">
        <div>
          <h6><?= $this->getUser()['user_name']; ?></h6>
            <?= $this->getUserModel()->existImg();?>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
       </div>
     </div>
     <div id="account-menu">
          <ul>
            <li><a href="<?= FULL_SITE_ROOT; ?>/my"><i class="fa fa-user-circle" aria-hidden="true"></i><span>Мой аккаунт</span></a></li>
            <li><a href="<?= FULL_SITE_ROOT; ?>/settings"><i class="fa fa-cog" aria-hidden="true"></i><span>Настройки</span></a></li>
            <li><a href="<?= FULL_SITE_ROOT; ?>/mytests"><i class="fas fa-shapes"></i><span>Мои тесты</span></a></li>
            <li><a href="<?= FULL_SITE_ROOT; ?>/logout"><i class="fas fa-sign-out-alt"></i><span>Выйти</span></a></li>
          </ul>
    </div>
    </div>
    <? endif; ?>
  </div>
</header>
